:root {
    --step-vertical: 12px;
    --color-black: #101720;
    --color-violet: #7287fd;
    --color-gray: #e8e8e8;
    --color-lightest-gray: #99a3ae29;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
    font-family: sans-serif;
    color: var(--color-black);
}

button {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--color-violet);
    color: white;
    font-size: 16px;
    border: 0px;
}

input[type='search'] {
    border-radius: 4px;
    border: 1px solid var(--color-lightest-gray);
    padding: 8px;
    font-size: 16px;
}

input[type='search']::placeholder {
    color: var(--color-black);
    opacity: 0.4;
}

.secondary {
    opacity: 0.7;
}

.block {
    margin-top: 24px;
}

h1,h2,h3,h4, p, ul {
    margin: var(--step-vertical) 0;
}

.no-top-margin {
    margin-top: 0px;
}

.text {
    color: var(--color-black);
}

a {
    color: var(--color-black);
}