:root {
    --step-vertical: 12px;
    --color-black: #101720;
    --color-violet: #7287fd;
    --color-gray: #e8e8e8;
    --color-lightest-gray: #99a3ae29;
    --color-primary: rgb(46, 46, 198);

    --color-slate-600: oklch(44.6% 0.043 257.281);
    --color-blue-600: oklch(54.6% 0.245 262.881);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
    font-family: sans-serif;
    color: var(--color-black);
}

button {
    margin-bottom: 1.5rem; 
    border-radius: 0.5rem; 
    padding-left: 1.5rem; 
    padding-right: 1.5rem; 
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem; 
    color: rgb(51,65,85); 
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    transition-duration: 150ms;
    border: none;
}

button:hover {
    background-color: rgb(203,213,225);
}

input[type='search'] {
    border-radius: 4px;
    border: 1px solid var(--color-lightest-gray);
    padding: 8px;
    font-size: 16px;
}

input[type='search']::placeholder {
    color: var(--color-black);
    opacity: 0.4;
}

.secondary {
    opacity: 0.7;
}

.block {
    margin-top: 24px;
}

h1,h2,h3,h4, p, ul {
    margin: var(--step-vertical) 0;
}

.no-top-margin {
    margin-top: 0px;
}

.text {
    color: var(--color-black);
}

a {
    color: var(--color-black);
}